[Unit]
Description=dbus-aggregate-batteries 
After=gui.service localsettings.service
Requires=localsettings.service

[Service]
Type=simple
WorkingDirectory=/opt/victronenergy/dbus-aggregate-batteries
ExecStart=/opt/victronenergy/dbus-aggregate-batteries/aggregatebatteries.py 
Restart=always
RestartSec=5
EnvironmentFile=-/etc/venusian/vars
EnvironmentFile=-/etc/venusian/%u/%p
EnvironmentFile=-/etc/venusian/%u/%N
EnvironmentFile=-/run/user/%U/vars
EnvironmentFile=-/run/user/%U/%p
EnvironmentFile=-/run/user/%U/%N
